.modal {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .modal-hidden {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .modal-visible {
    opacity: 1;
    transform: scale(1);
  }
  